.kpi-container {
    flex: 25%;
    padding: 10px;
    grid-area: auto / auto / span 2 / span 1;
}

.kpi {
    height: 100%;
    background-color: color("blue", "lighten-2");
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 1px 4px #575757;
}

.kpi-waarde {
    color: color("blue", "base");
    text-align: center;
    font-family: 'Font-bold';
    font-size: 2rem;
    margin: 0;
}

.kpi-titel {
    color: color("blue", "darken-1");
    text-align: center;
    font-size: 1rem;
    margin: 0;
}