@charset "UTF-8";

// Color
@import "components/color-variables";
@import "components/color-classes";

// Variables;
@import "components/variables";

// Reset
@import "components/normalize";

// components
@import "components/fonts";
@import "components/global";
@import "components/icons-material-design";
@import "components/typography";
@import "components/transitions";
@import "components/tooltip";
@import "components/modal";
@import "components/collapsible";
@import "components/materialbox";
@import "components/forms/forms";
@import "components/table_of_contents";
@import "components/preloader";
@import "components/slider";
@import "components/datepicker";
@import "components/timepicker";
@import "components/layout";
@import "components/header";
@import "components/vatCard";
@import "components/kpi";
@import "components/button";
@import "components/graph";
@import "components/chart";
