@font-face {
    font-family: Font-normal;
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
    font-family: Font-bold;
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}